@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

html, p , a {
    font-family: 'Manrope', sans-serif;
    font-size: 1vw;
}
a{
    color: white;
    text-transform: uppercase;
}
a:hover{
    opacity: 0.5;
}
nav{
    width: 70%;
    margin: 0 auto;
    padding: 2vw;
}
.logo {
    color: white;
    text-transform: uppercase;
    display:flex;
    float:left;
}

nav ul{
    display:flex;
    justify-content:right;
}
nav li{
    padding:0px 5px;
}
header{
    width: 100%;
    background-color: #0D0D0D;
    opacity: 0.9;
    display: block;
    float: left;
}
main {
    width: 100%;
    background-color: #0D0D0D;
    display: block;
}

#banner{
    width: 100%;
    background-image: url("/OficinaParamotor/Image/bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    text-align: center;
}
.title {
    padding: 12% 0;
}
.title h1{
    font-size: 6vw ;
    text-transform: uppercase;
    font-weight: bold;
}
.title h2{
    padding-top: 1vh ;
    font-size: 2.02vw ;
    text-transform: uppercase;
}
#box-container{
    width: 80%;
    margin: 0 auto;
    background-color: #0D0D0D;
    display:flex;
}
#box{
    width: 10vw;
    margin:0 auto;
    padding:6vh 0;
    text-align: center;
    color: white;
    text-transform: uppercase;
}

#box img{
    width: 100%;
}
#box h1{
    margin-top: 5vh;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
}
#box h2{
    color: white;
    text-transform: uppercase;
    font-weight: bold;
}
#grid-container{
    width: 100%;
    background-color:blue;
    display:flex;
}
#grid{
    width: 20vw;
    height:20vw;
    background-color: yellow;
}
#grid img{
    width: 100%;
    height: 100%;
    background-size: center;

}
#shop-container{
    width: 80%;
    height:100%;
    margin: 0 auto;
    background-color: #0D0D0D;
    display:flex;
}
#shop{
    width: 15vw;
    margin:0 auto;
    padding:6vh 0;
    text-align: center;
    color: white;
    text-transform: uppercase;
    margin-bottom:2vh;
}
#shop img{
    width: 100%;
    background:center;
}
#shop h1{
    text-align: left;
    padding: 1.2vh ;
    background-color: rgb(224, 224, 224);
    color:black;
    word-break: break-all;
}
#sdetails{
    text-align: left;
    font-size: 1.5vh;
    padding: 2vh ;
    border: 1px solid;
    color:white;
    word-break: break-all;
    text-transform: none
}
#sdetails h2{
    padding-bottom: 2vh;
}
#pedido {
    text-transform: uppercase;
    text-align: center;
    color: black;
    padding: 2vh ;
    background-color: rgb(224, 224, 224);
}
#pedido:hover {
    text-transform: uppercase;
    text-align: center;
    color: rgb(224, 224, 224);
    padding: 2vh ;
    background-color: black;
    border: 1px solid;
    cursor: pointer;
}
footer {
    width: 100%;
    padding: 1vh 0;
    text-align: center;
    background-color: #0D0D0D;
    color: white;
    display: block;
}
